@use '../../theme/typography';
@use '../../theme/palette';
@use '../../theme/animation';

@mixin reset() {
  position: relative;
  flex-shrink: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.root {
  @include reset();
  @include typography.size(body1);

  padding: 0 12px;
  border-radius: 2px;
  color: palette.get-semantic-color(primary, on);
  background-color: palette.get-semantic-color(primary, default);
  line-height: 40px;
  transition: animation.standard(color, animation.$shortest-duration);

  &:hover {
    background-color: palette.get-semantic-color(primary, hover);
  }
}
